<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lee社区</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css"/>

</head>
<body>

<div th:fragment="footer" class="copyright">
    <div>
        Copyright © 2020 · AiLee中文社区 · 服务器: Aliyun · 网站程序: Spring Boot
    </div>
</div>

</body>
</html>